h1 {
    color: rgb(39, 78, 187);
    margin-top: 25%;
    font-size: 4em;
    font-weight: bold;
    
}

.sign-up-button {
    color: rgb(39, 78, 187);
    position: absolute;
    left: 1%;
    margin-top: .5%;
    
}

.sign-in-button {
    color: rgb(39, 78, 187);
    position: absolute;
    right: 6%;
    margin-top: .5%;
}

.sign-out-button {
    color: rgb(39, 78, 187);
    position: absolute;
    right: 1%;
    margin-top: .5%;
    
}

#panelHeading {
    color: rgb(39, 78, 187);
    background-color: rgb(217, 238, 238) ;
}

#postToBoardButton {
    color: rgb(39, 78, 187);
    background-color: rgb(217, 238, 238);
}

#email {
    position: absolute;
    right: 50%;
    margin-top: .5%;
}

#password {
    position: absolute;
    right: 35%;
    margin-top: .5%;
}

.container-fluid {
    width: fit-content;
}
